* {
  box-sizing: border-box
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0 @body-padding;
}

#main {
  float: right;
  min-width: 360px;
  width: calc(~"100% - " (@navigation-width - 10px));
}

nav {
  float: left;
  display: block;
  width: @navigation-width;
  overflow: auto;
  position: fixed;
  height: 100%;
}

footer {
  margin-left: @navigation-width;
  display: block;
  padding: 15px;
}