@import "variables";
@import "layout";
@import "autoscrollnav";
@import "jsdocfix";
@import "navigation-toggle";
@import "mobile";

body.partial {
  padding: 0px
}

body.partial nav {
  float: none;
  width: auto;
  position: relative;
}
